@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
  overflow-x: hidden;
}
